body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 'Open Sans', arial, helvetica, sans-serif;
}
/* General reset */
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover, a:focus {
	color: #000;
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* General settings */

/*HEADER*/
.header-top{
	height: 96px;
}
.header-logo{
	display: inline-block;
	padding-left: 60px;

}
.header-text{
	width: 280px;
	font-family: 'open sans';
	font-size: 15px;
	line-height: 22px;
	display: inline-block;
	

}
.header-nav{
	background: #e6e6e6;

}
.header-nav ul li {
	line-height: 39px;
}
.header-nav ul li a{
	font-size: 15px;
	font-family: 'open sans';
	display: inline-block;
	border-bottom: 2px solid transparent;
	padding: 0 8px;
}
.header-nav ul li.active a{
	border-color: #8cc63e;
}
.header-nav ul li a:hover{
	border-color: #8cc63e;
}
.search-form{
	width: 182px;

}
.form-control{
	border: none;
	box-shadow: none;
	border-radius: 2px;
}
.btn{
	padding: 7px 12px;
	border: none;
}
.btn-default{
	color: #d2d2d2;

}
.btn-default:hover{
	background: #fff;
	color: #d2d2d2;
}
.input-group{
	margin-top: 3px;
}

/*MAIN*/
.main{
	padding-top: 30px;
}
.sidebar-category + .sidebar-category{
	margin-top: 45px;
}
.sidebar-category-title{
	padding-bottom: 15px;
	border-bottom: 2px solid #8cc63e;
}
.sidebar-category-title span{
	font-size: 25px;
	color: #000;
}
.sidebar-list{
	margin-top: 25px;

}
.sidebar-list li + li{
	margin-top: 18px;
}
.sidebar-list li a{
	font-size: 15px;
}
.sidebar-list li a:hover{
	color: #8cc63e;
}
.catalog-item{
	border: 1px solid #e6e6e6;
}
.catalog-item-title{
	padding: 10px 0 10px 18px;
	background: #f2f2f2;
}
.catalog-item-title span{
	font-size:  20px;
	color: #000;
}
.sidebar-list .down{
	padding-left: 18px;
}
/*content*/
.spoon{
	margin-top: 30px;
}
h4{
	margin: 60px 0 30px;
	font-family: 'open sans';
	font-size: 25px;
}
.item-img{
	height: 134px;
}
.item-img img{
	width: 100%;
	height: 100%;
}
.item-desq{
	padding: 18px 22px 0 22px;
	border: 1px solid #e6e6e6; 
}
.item-desq-title{
	font-family: 'open sans';
	font-size: 15px;
	max-height: 40px;
	overflow: hidden;
}
.price{
	margin-top: 30px;
	margin-bottom: 20px;
}
.actual-price{
	font-family: 'open sans';
	font-size: 20px;
	margin-right: 30px;
}
.old-price{
	font-family: 'open sans';
	font-size: 15px;
	text-decoration: line-through;
	color: #999999;
}
.first{
	padding-bottom: 30px;
}
/*footer*/
.footer{
	height: 390px;
	background-color: #998658;
	margin-top: 26px;
}
.footer-list{
	padding-left: 13px;	
}
.footer-category-title{
	color: #ffffff;
	font-family: 'open sans';
	font-size: 20px;
	padding: 62px 0 45px 13px;
}
.footer-list li a{
	font-family: 'open sans';
	font-size: 15px;
	color: #edeae3;
}
.footer-list li + li{
	margin-top: 27px;
}
.footer-logo{
	margin-top: 40px;
	margin-left: 13px;
	margin-bottom: 28px;
}
.footer-contact ul li{
	font-family: 'open sans';
	font-size: 15px;
	color: #edeae3;
}
.phone1{
	display: inline-block;
}
.phone2{
	float: right;
}
.footer-contact ul li + li{
	margin-top: 20px;
}
.mail{
	font-family: 'open sans';
	font-size: 15px;
	color: #edeae3;
	margin: 38px 0 38px;
}
.adress{
	font-family: 'open sans';
	font-size: 15px;
	color: #edeae3;
	line-height: 20px;
}